<div class="work">
    <div class="que">
        <h5>Questions <span>(345)</span></h5>
        <button class="btn btn-success"><i class="fas fa-download"></i> Get a random question</button>
    </div>
    <div class="delete">
        <a href=""><i class="fas fa-trash-alt"></i> Delete all questions</a>
    </div>
    <p class="para">Questions you’ve been asked will not be visible to other users on your profile until you choose to answer them</p>
    <div class="ques">
        <div class="question">
            <h4>What is at the same time funny and sad?</h4>
            <a>...</a>
        </div>
        <div class="answer">
            <div class="time">
                <i class="fas fa-question-circle"></i> <span>12h left</span>
            </div>
            <button class="btn btn-success">Answer <i class="fas fa-angle-right"></i></button>
        </div>
    </div>
    <div class="ques">
        <div class="question">
            <h4>What is at the same time funny and sad?</h4>
            <a>...</a>
        </div>
        <div class="answer">
            <div class="time">
                <i class="fas fa-question-circle"></i> <span>12h left</span>
            </div>
            <button class="btn btn-success">Answer <i class="fas fa-angle-right"></i></button>
        </div>
    </div>
    <div class="ques">
        <div class="question">
            <h4>What is at the same time funny and sad?</h4>
            <a>...</a>
        </div>
        <div class="answer">
            <div class="time">
                <i class="fas fa-question-circle"></i> <span>12h left</span>
            </div>
            <button class="btn btn-success">Answer <i class="fas fa-angle-right"></i></button>
        </div>
    </div>
</div>