<div class="work">
    <div class="main">
        <h2>How Are You ?</h2>
        <div class="answer">
            <img class="image" src="../../../../../assets/user.jpg" alt=""> <label>Karim Mohamed</label>
            <p>I don't know</p>
        </div>
        <div class="data">
            <i class="fas fa-heart"></i> <label>&nbsp; 234</label>
            <i class="fas fa-fire" [ngClass]="{'fire': fire === true}" (click)="makeFire()"></i> <label>&nbsp; 54888</label>
            <button class="btn">...</button>
        </div>
    </div>
    <div class="main">
        <h2>How to find friends? How to follow? How to get followers?</h2>
        <div class="answer">
            <img class="image" src="../../../../../assets/lamp.png" alt=""> <label>AskfmwebTips</label>
            <p>To find friends whom to follow, click on tab “Friends” on the upper row, then click on tab “Social”. There you will be able to connect your social media accounts. Once it’s done, we will suggest you people whom to follow.</p>
        </div>
        <div class="data">
            <i class="fas fa-heart"></i> <label>&nbsp; 234</label>
            <i class="fas fa-fire" [ngClass]="{'fire': fire === true}" (click)="makeFire()"></i> <label>&nbsp; 54888</label>
            <button class="btn">...</button>
        </div>
    </div>
    <div class="main">
        <h2>How to ask a question?</h2>
        <div class="answer">
            <img class="image" src="../../../../../assets/boy.jpg" alt=""> <label>L0o0ord</label>
            <p>To ask a question, click on the "Plus" icon on the right corner of the upper row. You will see a dropdown, where you can choose to ask anonymous or open question to someone, create a fun photo poll or ask people nearby via Shoutout.</p>
        </div>
        <div class="data">
            <i class="fas fa-heart"></i> <label>&nbsp; 234</label>
            <i class="fas fa-fire" [ngClass]="{'fire': fire === true}" (click)="makeFire()"></i> <label>&nbsp; 54888</label>
            <button class="btn">...</button>
        </div>
    </div>
    <div class="main">
        <h2></h2>
        <div class="answer">
            <img class="image" src="../../../../../assets/boy.jpg" alt=""> <label>L0o0ord</label>
            <img class="img" src="../../../../../assets/girl.jpg" alt="">    
        </div>
        <div class="data">
            <i class="fas fa-heart"></i> <label>&nbsp; 234</label>
            <i class="fas fa-fire" [ngClass]="{'fire': fire === true}" (click)="makeFire()"></i> <label>&nbsp; 54888</label>
            <button class="btn">...</button>
        </div>
    </div>
</div>