<div class="work">
    <ul>
        <li><i class="fas fa-question-circle"></i><label>&nbsp;Question</label></li>
        <li id="list"><i class="fas fa-camera"></i><label>&nbsp;Photo poll</label></li>
        <li id="list"><i class="fas fa-surprise"></i><label>&nbsp;Shoutout</label></li>
    </ul>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="what, when, where ... ask ">
        </div>
        <button class="btn btn-success"><i class="fas fa-chevron-right"></i></button>
    </form>
</div>