<div class="friends">
    <h5>🇪🇬 Leaderboard</h5>
    <hr>
    <a href="">
        <ul>
            <li><label>1</label></li>
            <li id="list"><img src="../../../../../assets/girl.jpg" alt=""></li>
            <li id="list">ΔAmiraΔ</li>
            <li id="list">+987634 <i class="fas fa-fire"></i></li>
        </ul>
    </a>
    <a href="">
        <ul>
            <li><label>2</label></li>
            <li id="list"><img src="../../../../../assets/boy.jpg" alt=""></li>
            <li id="list">L0o0ord</li>
            <li id="list">+987634 <i class="fas fa-fire"></i></li>
        </ul>
    </a>
    <a href="">
        <ul>
            <li><label>3</label></li>
            <li id="list"><img src="../../../../../assets/dd.png" alt=""></li>
            <li id="list">يَــــقِــــيــــنٌ</li>
            <li id="list">+987634 <i class="fas fa-fire"></i></li>
        </ul>
    </a>
    <a href="">
        <ul>
            <li><label>4</label></li>
            <li id="list"><img src="../../../../../assets/user.jpg" alt=""></li>
            <li id="list">M7md3sa</li>
            <li id="list">+987634 <i class="fas fa-fire"></i></li>
        </ul>
    </a>
    <a href="">
        <ul>
            <li><label>5</label></li>
            <li id="list"><img src="../../../../../assets/عا.jpg" alt=""></li>
            <li id="list">Asemعاصم</li>
            <li id="list">+987634 <i class="fas fa-fire"></i></li>
        </ul>
    </a>
    <a class="more" href="">see more</a>
</div>
<div class="footer">
    <app-side-footer></app-side-footer>
</div>
