<table>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
<table class="table table-borderless">
    <tbody>
      <tr>
        <td><a href="">About ASKfm</a></td>
        <td><a href="">term of use</a>></td>
      </tr>
      <tr>
        <td><a href="">Safety center</a></td>
        <td><a href="">privacy policy</a>></td>
      </tr>
      <tr>
        <td><a href="">Help</a></td>
        <td><a href="">Cookies policy</a>></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-borderless ta">
      <tbody>
          <tr>
              <td><i class="fab fa-facebook"></i></td>
              <td><i class="fab fa-instagram"></i></td>
              <td><i class="fab fa-twitter"></i></td>
              <td><i class="fab fa-google"></i></td>
          </tr>
      </tbody>
  </table>
  <hr>
  <small>&copy; Ask.fm 2020</small>