
        <div class="data">
            <div class="img">
                <img src="../../../../assets/user.jpg" alt="">
            </div>
            <div class="info">
                <span>@karrimmaged7</span>
                <h3>karrim maged</h3>
                <table class="table table-borderless ta">
                    <tbody>
                        <tr>
                            <td><i class="fas fa-fire"></i> <label>&nbsp; 20037</label></td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn drop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Online
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Online</a>
                                      <a class="dropdown-item" href="#">Invisible</a>
                                    </div>
                                  </div>
                            </td>
                            <td><button class="btn btn1">...</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    
