<nav>
    <img src="../../../assets/askfm.png" alt="">
    <ul>
        <li ><a routerLink="/account/wall" routerLinkActive="active"><i class="fas fa-home"></i></a></li>
        <li><a routerLink="/account/questions" routerLinkActive="active"><i class="fas fa-question-circle"></i></a></li>
        <li><a routerLink="/account/karim" routerLinkActive="active"><i class="fas fa-user-circle"></i></a></li>
        <li><a routerLink="/account/friends/search" routerLinkActive="active"><i class="fas fa-user-friends"></i></a></li>
        <li><a routerLink="/account/notifications" routerLinkActive="active"><i class="fas fa-bell"></i></a></li>
        <li><a href="">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle to" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/account/setting/ptofile">Setting</a>
                  <a class="dropdown-item">Log out</a>
                </div>
              </div>
        </a></li>
    </ul>
</nav>