<div class="main">
    <div class="nav">
        <ul class="list-group list-group-horizontal-sm sm">
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/account/friends/search" >Friends</a></li>
            <li class="list-group-item"><a href="">Interests</a></li>
            <li class="list-group-item"><a href="">Social</a></li>
        </ul>
    </div>
    <div class="search">
        <form>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Search People by Keywords">
                <i class="fa fa-search"></i>
            </div>
        </form>
    </div>

    <div class="friends">
        <h6>Your friends</h6>
        <ul class="fri">
            <li class="list">
                <img src="../../../../../assets/lamp.png" alt="">
                <ul class="name">
                    <li>AskfmwebTips</li>
                    <li><span>@askfmwebtips</span></li>
                </ul>
            </li>
            <li class="add">
                <button class="btn">Ask </button>
            </li>
        </ul>
    </div>
</div>