<div class="main">
    <div class="logo">
        <img src="../../../assets/askfm.png" alt="">
        <br>
        Curious? <strong>Just ask!</strong>
        <br>
        <strong>Openly or anonymously.</strong>
        <br>
    </div>
    <div class="btns">
        <button type="button" (click)="signUp()" class="btn btn-outline-light light">Sign up</button>
        <br>
        <button type="button" (click)="login()" class="btn btn-outline-light">Log in</button>
    </div>
</div>
<app-footer></app-footer>