.main{
    margin-top: 1%;
    background: white;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin-top: 3%;
}
.work{
    padding-bottom: 2%;
}
.main h2{
    margin-left: 5%;
}
.answer .image{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 3%;
}
.answer{
    margin-left: 5%;
}
.answer label{
    font-weight: bold;
}
.answer p{
    margin-top: 3%;
}
.data{
    margin-left: 5%;
}
.data i {
    color: gray;
    font-size: 19px;
}
.data{
    font-size: 20px;
    color: black;
}
.fa-fire{
    margin-left: 10%;
}
.btn{
    float: right;
    font-weight: bold;
    margin-top: -2%;
    font-size: 20px;
}
.img{
    margin-top: 3%;
    width: 90%;
    height: 450px;
    margin-bottom: 5%;
}