ul{
    list-style: none;
    display: flex;
    width: 50%;
    border: 1px solid white;
    margin-top: 1%;
    border-radius: 7px;
    background:transparent;
    color: white;
    padding: 0%;
}
li{
    padding: .5%;
    width: 100%;
    border: none;
    text-align: center;
    background:transparent;
}
.active{
    background: white;
    color: red;
}
#list{
    margin-left: 30%;
}
a{
    color: white;
}
.active a{
    color: gray;
}
a:hover{
    text-decoration: none;
}
.sm{
    margin-top: 3%;
    width: 60%;
}
