ul{
    text-align: center;
    list-style: none;
    position: fixed;
    left: 60%;
    top: 40%;
    display: flex;
}
.list{
    margin-left: 30%;
    padding-left: 40%;
    border-left: 1px solid gray;
}
.i{
    padding: 8px;
    font-size: 20px;
    border-radius: 40px;
    background: #00aab8;
    font-weight: bold;
}
label{
    line-height: 0px;
    font-size: 13px;
    color: white;
}
.fa-heart{
    background: #ee1144;
}
.fa-user-check{
    background:#784589;
}
.about{
    position: fixed;
    top: 55%;
    left: 62%;
    width: 25%;
    
}
h6{
    float: left;
    width: 65%;
}
.footer{
    position: fixed;
    top: 70%;
    left: 65%;
}