<ul>
    <li>
        <i class="far fa-comment-alt i"></i>
        <br>
        <span>1</span>
        <br>
        <label>Posts</label>
    </li>
    <li class="list">
        <i class="far fa-heart i"></i>
        <br>
        <span>0</span>
        <br>
        <label>Likes</label>
    </li>
    <li class="list">
        <i class="fas fa-user-check i"></i>
        <br>
        <span>2</span>
        <br>
        <label>Followers</label>
    </li>
</ul>
<div class="about">
    <h6>About me</h6>
    <a href=""><i class="fas fa-pen"></i> &nbsp;Edit profile</a>
</div>

<app-side-footer class="footer"></app-side-footer>