<div class="main">
    <div class="work">
        <h5>Notifications</h5>
        <app-notification-nav></app-notification-nav>
        <div class="notification" >
            <div class="notifications">
                <img src="../../../../../assets/notification.png" alt="">
                <i class="fas fa-question-circle"></i>
                <div class="data">
                    <h6>You received a shoutout: “صباحو”</h6>
                    <span>about 20 hours ago</span>
                </div>
                <hr>
            </div>
            <hr>
        </div>

        <div class="notification">
            <div class="notifications">
                <img src="../../../../../assets/notification.png" alt="">
                <i class="fas fa-question-circle"></i>
                <div class="data">
                    <h6>You received a shoutout: “🎀🌺”</h6>
                    <span>about 21 hours ago</span>
                </div>
                <hr>
            </div>
            <hr>
        </div>
        <div class="notification">
            <div class="notifications">
                <img src="../../../../../assets/notification.png" alt="">
                <i class="fas fa-question-circle"></i>
                <div class="data">
                    <h6>You have a new question: “إي المسلسلات تحبون تتابعون؟”</h6>
                    <span>yesterday</span>
                </div>
                <hr>
            </div>
            <hr>
        </div>
        <div class="notification">
            <div class="notifications">
                <img src="../../../../../assets/notification.png" alt="">
                <i class="fas fa-question-circle"></i>
                <div class="data">
                    <h6>You received a shoutout: “انا مخنوق و وصلت لمرحله اني مش طايق نفسي وعمري ما بكيت ف حياتي بس حاسس ان عايز ابكي علشان ارتاح و...”</h6>
                    <span>about 20 hours ago</span>
                </div>
                <hr>
            </div>
            <hr>
        </div>
        <div class="notification">
            <div class="notifications">
                <img src="../../../../../assets/notification.png" alt="">
                <i class="fas fa-question-circle"></i>
                <div class="data">
                    <h6>You have a new question: “Could you live without a computer?”</h6>
                    <span>17 minutes ago</span>
                </div>
                <hr>
            </div>
            <hr>
        </div>
        <div class="notification">
            <div class="notifications">
                <img src="../../../../../assets/notification.png" alt="">
                <i class="fas fa-question-circle"></i>
                <div class="data">
                    <h6>You received a shoutout from B E R L I N: “أي ملبن تكلمني ف ربما محتاج طبطبه 🌚💋”</h6>
                    <span> about 15 hours ago</span>
                </div>
                <hr>
            </div>
            <hr>
        </div>
        
    
    </div>
</div>